# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# 4 space indentation for Python files
[*.py]
indent_size = 4

# Tab indentation for Go files
[*.go]
indent_style = tab

# Trailing whitespace is significant in Markdown
[*.md]
trim_trailing_whitespace = false

# Package files
[*.{json,yml,yaml}]
indent_size = 2